/* site list start */

.list{
    padding-bottom: 107px;
}
.list-wrapper{
    max-width: 826px;
    margin-bottom: 106px;
}
.list-title{
    font-size: 20px;
    line-height: 187.5%;
    color: #222222;
}
.list-desc{
    font-size: 12px;
    line-height: 187.5%;
    color: #525252;
}
.list-section-list{
    max-width: 1045px;
}
.list-item::before{
    display: block;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../../images/tel-icon.svg");
    content: "";
}
.list-item:nth-child(2):before{
    background-image: url("../../images/tv-icon.svg");
}
.list-item:nth-child(3)::before{
    background-image: url("../../images/ps-icon.svg");
}
.list-item:nth-child(4)::before{
    background-image: url("../../images/solution-icon.svg");
}
.list-item:nth-child(5)::before{
    background-image: url("../../images/design.svg");
}
.list-item:nth-child(6)::before{
    background-image: url("../../images/modeling.svg");
}
.list-item::after{
    display: block;
    width: 21px;
    height: 21px;
    margin: 0 auto;
    margin-top: 23px;
    background-image: url("../../images/list-arrow.svg  ");
    content: "";
}
.list-item:not(:last-child){
    margin-bottom: 65px;
}
.list-item-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 187.5%; 
}

@include mobile-first(768px){
    .list{
        padding-bottom: 133px;
    }
    .list-section-list{
        gap: 4rem;
    }
    .list-title{
        font-size: 25px;
        line-height: 187.5%;
        color: #222222;
    }
    .list-desc{
        font-size: 16px;
    }
}
